@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-cream: oklch(0.9644 0.0282 74.31);
    --color-midnight: oklch(0.2316 0.0373 288.04);
}

* {
    transition: color 0.15s, background-color 0.15s;
}

.roll-in, .roll-out {
    animation-duration: 250ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.roll-in {
    animation-name: roll-in;
}

.roll-out {
    animation-name: roll-out;
}

@keyframes roll-in {
    from {
        transform: translateX(-40px) rotate(-0.25turn);
    }
    to {
        transform: translateX(0) rotate(0turn);
    }
}

@keyframes roll-out {
    from {
        transform: translateX(0) rotate(0turn);
    }
    to {
        transform: translateX(-40px) rotate(-0.25turn);
    }
}

