@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-cream: oklch(0.9644 0.0282 74.31);
    --color-midnight: oklch(0.2556 0.0373 288.04);
}

* {
    transition: color 0.15s, background-color 0.15s;
}

.slide-in, .slide-out {
    animation-duration: 250ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.slide-in {
    animation-name: slide-in;
}

.slide-out {
    animation-name: slide-out;
}

@keyframes slide-in {
    from { transform: translateX(-100px) }
    to { transform: translateX(0) }
}

@keyframes slide-out {
    from { transform: translateX(0) }
    to { transform: translateX(-100px) }
}

