@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@theme {
    --color-cream: oklch(0.9644 0.0282 74.31);
    --color-midnight: oklch(0.2316 0.0373 288.04);
}

* {
    transition: color 0.15s, background-color 0.15s;
    scroll-behavior: smooth;
}
